@{
    ViewBag.Title = "Помилка сервера";
    Layout = "_Layout";
}

<div class="container text-center my-5">
    <h2 class="text-danger">Щось пішло не так!</h2>
    <p class="mt-4">@ViewData["ErrorMessage"]</p>
    <p class="text-muted">Код помилки: @ViewData["ReturnCode"]</p>
    <a class="btn btn-primary mt-3" asp-controller="ManagerProducts" asp-action="Index">Повернутись на головну</a>
</div>
