@using PriceComparisonMVC.Models.Response
@model List<CategoryResponseModel>

<h1>Categories</h1>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <p style="color:red;">@ViewBag.Error</p>
}

<ul>
    @foreach (var category in Model)
    {
        <li>
            @category.Title
        </li>
    }
</ul>
