:root {
    --primary-color: #2C509A;
    --primary-color-rgb: 44, 80, 154;
    --primary-text-color: white;
    --primary-hover-color: #244374;
    --success-color: #0B8E00;
    --success-border-color: #CCF5E3;
    --success-hover-color: #097a00;
    --danger-color: #BD1B10;
}

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.btn-main {
    width: 214px;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
    transition: background-color 0.3s ease;
    line-height: 1.2;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.btn-primary-add {
    background-color: var(--success-color);
    color: var(--primary-text-color);
}

    .btn-primary-add:hover {
        background-color: var(--success-hover-color);
        color: var(--primary-text-color);
    }

.btn-primary-remove {
    background-color: var(--danger-color);
    color: var(--primary-text-color);
}

.border-bg-primary-light {
    border-color: rgba(var(--primary-color-rgb), 0.56) !important;
}

.text-primary-light {
    color: rgba(var(--primary-color-rgb), 0.56) !important;
}

.card-header {
    background-color: rgba(var(--primary-color-rgb), 0.05) !important;
}

.card-body {
    background-color: rgba(var(--primary-color-rgb), 0.05) !important;
    color: var(--primary-color) !important;
}

h5 {
    color: var(--primary-color) !important;
}

@media (max-width: 576px) {
    .btn-primary, .btn-primary-add, .btn-primary-remove {
        width: 100% !important;
        margin: 0 !important;
    }
}
