.main-container {
    width: 564px;
    height: 619px;
    background-color: #FDFDFD;
    padding: 40px;
    margin: auto;
    margin-top: 50px; /* Центрування по вертикалі */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.button-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

    .button-block .btn {
        flex: 1;
        margin: 0 0.5rem;
        border: none;
        text-align: center;
        position: relative;
        background-color: transparent;
        color: black;
    }

        .button-block .btn:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: currentColor;
        }

.btn-primary {
    width: 214px;
    height: 48px;
    background-color: #2C509A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #2958bd;
    }

.form-control {
    border-radius: 0;
    height: 51px;
}

.text-primary {
    font-size: 40px;
    line-height: 24px;
    color: #2C509A;
}

.mb-3, .mb-4 {
    margin-bottom: 24px !important;
}

.logo {
    max-width: 450px;
    height: auto;
    margin-bottom: 16px;
    object-fit: contain;
}